@mixin settingsBlock {
  position: relative;
  margin: 0 auto;
  width: 350px;
  padding: 15px;
}

.center {
  text-align: center;
}

.settings {
  @include settingsBlock;
  margin-top: 40px;
  background: #ecf0f1;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #333;
}

.experimentalSettings {
  @include settingsBlock;
}

.arrow-down {
  width: 50px;
  height: 50px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:before, &:after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background: #eeeeee;
    position: absolute;
    top: 20px;
    transition: transform .5s;
  }

  &:before {
    right: 21px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(45deg);
  }

  &:after {
    right: 10px;
    transform: rotate(-45deg);
  }

  &.active {
    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

button {
  padding: 0.6em 1em;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;

  &:hover {
    background-color: #14679e;
  }
}
