<h1 class="center" *ngIf="!showBoard">PixelTime</h1>

<div class="settings" *ngIf="!showBoard">
  <form class="pure-form pure-form-aligned">
    <fieldset>
      <legend>Settings</legend>
      <div class="pure-control-group">
        <label for="modeSelection">Mode</label>
        <select class="form-control"  id="modeSelection"
                required
                [(ngModel)]="modeSelection" name="modeSelection">
          <option *ngFor="let mode of modes" [value]="mode">{{mode}}</option>
        </select>
      </div>

      <div class="pure-control-group">
        <label for="aspectRatioSelection">Aspect ratio</label>
        <select class="form-control"  id="aspectRatioSelection"
                required
                [(ngModel)]="aspectRatioSelection" name="aspectRatioSelection">
          <option *ngFor="let aspectRatio of aspectRatios" [value]="aspectRatio">{{aspectRatio}}</option>
        </select>
      </div>

      <div class="pure-control-group">
        <label for="durationSelection">Timer length</label>
        <select class="form-control"  id="durationSelection"
                required
                [(ngModel)]="durationSelection" name="durationSelection">
          <option *ngFor="let duration of durations" [value]="duration">{{duration}} Minutes</option>
        </select>
      </div>

      <div class="pure-controls">
        <button type="submit" (click)="startApp($event)">Start</button>
      </div>
    </fieldset>
  </form>
</div>

<div class="experimentalSettings" *ngIf="!showBoard">
  <div class="arrow-down" (click)="experimentalSettingsVisible = !experimentalSettingsVisible" [ngClass]="{'active': experimentalSettingsVisible}"></div>
  <form class="pure-form pure-form-stacked" *ngIf="experimentalSettingsVisible">
    <fieldset>
      <legend>Experimental features</legend>

      <label for="enableCSSTransitions" class="pure-checkbox">
        <input id="enableCSSTransitions" type="checkbox" name="enableCSSTransitions" [(ngModel)]="enableCSSTransitions"> Enable CSS transitions (VERY hardware demanding!)
      </label>

      <div class="pure-control-group">
        <label for="pixelDensitySelection">Pixel density (Higher is more hardware demanding)</label>
        <select class="form-control"  id="pixelDensitySelection"
                required
                [(ngModel)]="pixelDensitySelection" name="pixelDensitySelection">
          <option *ngFor="let pixelDensity of pixelDensities" [value]="pixelDensity">{{pixelDensity}}</option>
        </select>
      </div>
    </fieldset>
  </form>
</div>

<app-board *ngIf="showBoard" [nextBlockToClear]="nextBlockToClear"></app-board>
